.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  max-width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
}

.go-back {
  border-radius: 50%;
  border: 2px solid #050505;
  width: 24px;
  height: 24px;
  padding: 15px;
  margin: 24px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-back:hover,
.go-back:focus {
  border: 2px solid #0bcf53;
  background-color: #14532b;
  color: #ffffff;
}
